body {
    background-color: white;
}

.imagen{
    width: 30%;
    margin-top: 40%;
}

.contenedor-imagen {
    margin-left: 40%;
}


.formulario{
    margin-left: 27%;
    margin-top: 5%;
}

.restablecer{
    margin-left: 35%;
    padding: 0%;
    text-decoration: none;
}

.boton{
    margin-top: 15%;
    margin-left: 35%;
}

.imagen-header {
    width: 16%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.texto {
    color: rgb(169, 175, 76);
    margin-left: 60px;
}


.contenedor-header{
    background-color: rgb(28, 60, 90);
    display: flex;
}

.lista{
    margin-top: 50%;
}
.lugar-encuentro{
    margin-left: 20%;
    margin-top: 5%;
}

.btn-programar{
    margin-top: 50%;
    margin-left: 30%;
}

.boton-viaje{
    width: 100%;
}
.contenedor-imagen{
    width: 60%;
    height: 25%;
    background-color: rgb(28, 60, 90);
    border-radius: 100%;
    margin-top: 10%;
    margin-left: 20%;
}
.img-perfil{
    padding-left: 10%;
    width: 90%;
}
.texto-usuario{
    margin-top: 20%;
    margin-left: 25%;
}

.texto-historial{
    color: rgb(28, 60, 90);
    margin-top: 20%;
}
#present-alert{
    position: fixed;
    right: 0%;
    top: 0%;
}