<ion-header>
  <div class="contenedor-header">
    <img src="../../../assets/img/Auto.png" alt="" srcset="" class="imagen-header">
    <h1 class="texto">Perfil</h1>
    <ion-button id="present-alert">Cerrar sesión</ion-button>
  </div>
  
</ion-header>
<ion-content [fullscreen]="true">

  <body>

    <div class="contenedor-imagen">
      <img src="../../../assets/img/Usuario.png" alt="" srcset="" class="img-perfil">
      <h1 class="texto-usuario">{{usuario}}</h1>
    </div>
    <h1 class="texto-historial">Historial</h1>

    <div *ngFor="let viaje of listado_viaje">
      <div *ngIf="uid === viaje.uid">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{viaje.destino}}</ion-card-title>
            <ion-card-subtitle>Costo por persona: ${{viaje.costo_persona}}</ion-card-subtitle>
            <ion-card-subtitle>Asientos disponibles: {{viaje.disponibles}}</ion-card-subtitle>
            <ion-card-subtitle>Conductor: {{viaje.usuario}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lugar de encuentro: {{viaje.encuentro}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    
    
    

    <ion-alert
  trigger="present-alert"
  header="Estas seguro de que quieres cerrar sesión!"
  [buttons]="alertButtons"
></ion-alert>
  </body>
</ion-content>
