<ion-header>
  <div class="contenedor-header">
    <img src="../../../assets/img/Auto.png" alt="" srcset="" class="imagen-header">
    <h1 class="texto">Programar Viaje</h1>
  </div>
</ion-header>
<ion-content [fullscreen]="true">

  <body>

    
      <ion-list class="lista">          
        <ion-item>
          <ion-input label="Costo por persona" type="number" placeholder="000" [(ngModel)]="nuevo_viaje.costo_persona"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Asientos disponibles" type="number" placeholder="0" [(ngModel)]="nuevo_viaje.disponibles"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [disabled]="true" label="Destino" placeholder="Ingresar destino" [(ngModel)]="nuevo_viaje.destino"></ion-input>
          <ion-button slot="end" (click)="abrirMapa()">Seleccionar</ion-button>
          

        </ion-item>
    
        <mat-form-field class="example-full-width" class="lugar-encuentro">
          <mat-label>Lugar de encuentro</mat-label>
          <textarea matInput [(ngModel)]="nuevo_viaje.encuentro"></textarea>
        </mat-form-field>
    
      </ion-list>

    <ion-button class="btn-programar" (click)="Grabar()" id="btn-programar">Programar</ion-button>


  </body>
  <app-mapa (destinoSeleccionado)="onDestinoSeleccionado($event)"></app-mapa>
</ion-content>
