
div{
    background-color: rgb(28, 60, 90);
    display: flex;
}

.imagen {
    width: 16%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.texto {
    color: rgb(169, 175, 76);
    margin-left: 60px;
}
