<ion-header>
  <div class="contenedor-header">
    <img src="../../../assets/img/Auto.png" alt="" srcset="" class="imagen-header" (click)="regresar()">
    <h1 class="texto">Recuperar</h1>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
<div class="container">
<div class="card">
    <span class="card__title">Restablecer</span>
    <p class="card__content">Si el correo existe se le enviara un correo de recuperacion.
    </p>
    <div class="card__form">
        <input placeholder="Ingrese correo" type="email" [(ngModel)]="email" name="email">
        <button class="sign-up" (click)="recuperar()" id="present-alert" name="ok">Recuperar</button>
    </div>
</div>
</div>
</ion-content>

<ion-alert
  trigger="present-alert"
  header="Correo enviado (Si existe)"
  [buttons]="alertButtons"
  (didDismiss)="setResult($event)"
></ion-alert>
