body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.imagen {
    width: 30%;
    margin-top: 40vh; /* Ajustado para usar vh */
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajustado para usar margin-top en lugar de margin-left */
}

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 5vh; /* Ajustado para usar vh */
}

.restablecer {
    display: flex;
    justify-content: center;
    padding: 0;
    text-decoration: none;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 15vh; /* Ajustado para usar vh */
}

.imagen-header {
    width: 16%;
    margin: 5px 0 5px 5px;
}

.texto {
    color: rgb(169, 175, 76);
    margin-left: 15px; /* Ajustado para reducir el margen */
}

.contenedor-header {
    background-color: rgb(28, 60, 90);
    display: flex;
    align-items: center;
    padding: 10px; /* Añadido padding */
}

.lista {
    margin-top: 10vh; /* Ajustado para usar vh */
}

.lugar-encuentro {
    margin-left: 20%;
    margin-top: 5vh; /* Ajustado para usar vh */
}

.btn-programar {
    margin-top: 50vh; /* Ajustado para usar vh */
    margin-left: 30%;
}

.boton-viaje {
    width: 100%;
}

.txt-viaje {
    text-align: center;
}
