<ion-header>
  <ion-toolbar>
    <ion-title>Confirmar Destino</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>¿Está seguro de que desea establecer <strong>{{ destino }}</strong> como su destino?</p>
    <ion-button expand="full" (click)="confirmar()">Confirmar</ion-button>
    <ion-button expand="full" color="light" (click)="cancelar()">Cancelar</ion-button>
  </div>
</ion-content>
