.img-404 {
    width: 100%;
    margin-top: 500px;
}
body {
    background-color: white;
}

.contenedor-imagen{
    margin-top: 50%;
}

.boton{
    text-align: center;
    justify-content: center;
    align-items: center;
}