<ion-header style="height: 7%;">
  <div class="contenedor-header">
    <img src="../../../assets/img/Auto.png" alt="" srcset="" class="imagen-header">
    <h1 class="titulo-header">TeLlevoAPP</h1>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cuerpo">

    <div class="contenedor-opciones">
      <ion-button class="btn-login" (click)="login()">Iniciar sesión</ion-button>
      <ion-button class="btn-register" (click)="register()">Registrarse</ion-button>
    </div>
    
  </div>
</ion-content>
