<ion-header>
  <div class="contenedor-header">
    <img src="../../../assets/img/Auto.png" alt="" srcset="" class="imagen-header" (click)="regresar()">
    <h1 class="texto">Iniciar Sesión</h1>
  </div>
</ion-header>
<ion-content [fullscreen]="true">

  <body>
    <div class="contenedor-imagen">
      <img src="../../../assets/img/Usuario.png" alt="" srcset="" class="imagen">
    </div>
    
    <form (submit)="login()">
      <ion-item>
        <ion-label position="floating">Email</ion-label><ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label> <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
      <h4 class="restablecer" (click)="recuperar()">Restablecer contraseña?</h4>
    </form>
  </body>
</ion-content>
