body {
    background-color: white;
}

.imagen{
    width: 30%;
    margin-top: 40%;
}

.contenedor-imagen {
    margin-left: 40%;
}


.formulario{
    margin-left: 27%;
    margin-top: 5%;
}

.restablecer{
    margin-left: 35%;
    padding: 0%;
    text-decoration: none;
}

.boton{
    margin-top: 15%;
    margin-left: 35%;
}
