<ion-header>
  <div class="contenedor-header">
    <img src="../../../assets/img/Auto.png" alt="" srcset="" class="imagen-header">
    <h1 class="titulo-header">TeLlevoAPP</h1>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
<div class="container">
  <form class="form" (sumbit)="register()">
      <span class="title">Registrarse</span>
      <label for="username" class="label">Nombre de usuario</label>
      <input type="text" id="username" name="username" required class="input" [(ngModel)]="usuario">
      <label for="email" class="label">Correo</label>
      <input type="email" id="email" name="email" required class="input" [(ngModel)]="email">
      <label for="password" class="label">Contraseña</label>
      <input type="password" id="password" name="password" required class="input" [(ngModel)]="password">
      <ion-item>
        <ion-label position="floating">Rol</ion-label>
      <ion-select [(ngModel)]="rol" name="rol" interface="popover">
        <ion-select-option value="conductor">Conductor</ion-select-option>
        <ion-select-option value="pasajero">Pasajero</ion-select-option>
      </ion-select>
      </ion-item>
      <button type="submit" class="submit" (click)="register()">Register</button>
    </form>
</div>
</ion-content>
