<ion-header>
  <div class="contenedor-header">
    <img src="../../../assets/img/Auto.png" alt="" srcset="" class="imagen-header">
    <h1 class="texto">Bienvenido {{usuario}}</h1>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content id="mapa">
    <app-mapa [lat]="-33.598272925829164" [lng]="-70.57885144723004"></app-mapa> <!-- Coordenadas de ejemplo -->
  </ion-content>
  
  

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="Programar()">
          <div>
            <img src="../../../assets/img/Programar_Viaje.png" alt="" srcset="" class="img-programar">
          </div>
          Programar viaje
        </ion-tab-button>
        <ion-tab-button (click)="Viajes()">
          <div>
            <img src="../../../assets/img/Viaje_disponibles.png" alt="" srcset="" class="img-viaje">
          </div>
          Viajes disponibles
        </ion-tab-button>
        <ion-tab-button (click)="Perfil()">
          <div>
            <img src="../../../assets/img/Usuario.png" alt="" srcset="" class="img-perfil">
          </div>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
