body {
    background-color: rgb(28, 60, 90);
}

.contenedor-img {
    margin-top: 40%;
    text-align: center;
}

.texto{
    color: rgb(169, 175, 76);
    font-size: 30px;
}

.logo-duoc {
    width: 60%;
}